@import "../../../../styles/variables";

.progress-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 146px;
  background: #fcfcfc;
  border-radius: 10px;
  flex-shrink: 0;

  @media (max-width: $tablet) {
    width: 100%;
    max-width: 170px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10.42px;
    padding: 11px 31px;
  }

  &__chart {
    width: 108.12px;
    height: 100px;
    position: relative;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__label {
    font-family: "Inter", sans-serif;
    font-size: 11px;
    font-weight: 700;
    line-height: 1.21em;
    color: #000919;
    margin: 0;
    text-align: center;
    white-space: nowrap;
  }
}

.progress-circle {
  transition: stroke-dashoffset 0.6s ease;
}

.progress-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  fill: #000000;
  line-height: 1.17em;
}

