@import "../../../../../styles/variables";

.details-tab {
  display: flex;
  flex-direction: column;
  gap: 15px;
  &__info-section {
    display: flex;
    gap: 43px;
    padding: 20px 23px;
    background: #ffffff;
    border: 1px solid #f1f1f2;
    border-width: 1px 1px 0px;
    border-radius: 5px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.03);
    flex-wrap: wrap;

    @media (max-width: 1200px) {
      gap: 30px;
    }

    @media (max-width: $tablet) {
      gap: 20px;
      justify-content: center;
    }

    @media (max-width: $mobile) {
      flex-direction: column;
      align-items: stretch;
      gap: 15px;
    }
  }
}

