.card-with-header {
  overflow: hidden;
  margin-bottom: 20px;

  &__header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-block: 20px;

    svg {
      flex-shrink: 0;
      color: #50cd89;
    }
  }

  &__title {
    font-size: 14px;
    font-weight: 600;
    color: #00665e;
    margin: 0;
    flex: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0;
    border-radius: 5px;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #f1f1f2;
    box-shadow: 0px 4px 12px 0px #00000008;
  }
  .no-border {
    border: none;
  }
}
